body {
  font-size: 16px;
  color: #fff;
  background-color: #1973BE ;
}

/** HEADER **/
h1{
  text-align: center;
}
/* END HEADER */

/* FOOTER */

/* END FOOTER */

/* HOME PAGE */

/* END HOME PAGE *
